.match-modal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(240, 248, 255, 0.077);
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.match-modal-content {
  width: 400px;
  height: 250px;
  position: relative;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
}
